<div class="top-sectio">
  <app-option-widget></app-option-widget>
</div>
<div class="middle-sectio">
  <div class="widget left">
    <app-probability-widget></app-probability-widget>
  </div>
  <div class="widget right">
    <app-probability-chart-widget></app-probability-chart-widget>
  </div>
</div>
<div class="bottom-section">
  <div class="widget left">
    <app-future-assurance-widget></app-future-assurance-widget>
  </div>
  <div class="widget right">
    <app-other-assurance></app-other-assurance>
  </div>
</div>
