<nav class="navbar nabar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue;">Contrat</h1>
    <div class="d-flex">
      <button (click)="clickAddContrat()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="openModal()" class="btn btn-success">Add Contrat</button>
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Titre</th>
      <th scope="col"> Auteur</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contrat of contratData">
      <td>{{contrat._id}}</td>
      <td>{{contrat.nom}}</td>
      <td>{{contrat.prenom}}</td>
      <td>
        <button (click)="modifierContrat(contrat)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="openModal()" class="btn btn-info">Edit</button>
        <button (click)="deleteContrat(contrat)" class="btn btn-danger mx-3 ">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajoute un Contrat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup] = "formValue">
          <div class="form-group mb-3">
            <label for="exampleInputEmail1">Titre</label>
            <input type="text" formControlName="titre" class="form-control"  placeholder="Entre votre Nom">
          </div>

          <div class="form-group mb-3">
            <label for="exampleInputEmail1">Auteur</label>
            <input type="text" formControlName="auteur" class="form-control"  placeholder="Entre votre ville">
          </div>
        </form>
      </div>
      <div class="modal-footer mb-3">
        <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button  *ngIf="showAdd" class="btn btn-primary" (click)="postContrat()">Add</button>
        <button *ngIf="showUpdate" type="button" class="btn btn-primary" (click)="updateContrat()">Update</button>
      </div>
    </div>
  </div>
</div>
