<div class="na-items">
  <div class="na-item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Acceuil</span>
  </div>
  <div class="na-item">
    <fa-icon [icon]="faLocation"></fa-icon>
  <a routerLink="employes"><span>Employees</span> </a>
  </div>
  <div class="na-item">
    <fa-icon [icon]="faShop"></fa-icon>
    <span>Agent D'Assurance</span>
  </div>
  <div class="na-item">
    <fa-icon [icon]="faBox"></fa-icon>
   <a routerLink="contrat"> <span>Contrat D'Assurance</span> </a>
  </div>
  <!-- <div class="na-item">
    <fa-icon [icon]="faMoneyBill"></fa-icon>
    <span>Companies</span>
  </div> -->
  <div class="na-item">
    <fa-icon [icon]="faChartBar"></fa-icon>
    <span>Sinistre</span>
  </div>
  <!-- <div class="na-item">
    <fa-icon [icon]="faContactBook"></fa-icon>
    <span>Indemnisation</span>
  </div> -->
  <div class="na-item">
    <fa-icon [icon]="faHand"></fa-icon>
    <span>Aide</span>
  </div>
</div>
